* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: sans-serif;
	background: crimson;
}

.button-four {
	border: none;
	padding: 1rem 4rem;
	background-color: rgba(17, 17, 137, 0.824);
	font-size: 22px;
	text-transform: uppercase;
	cursor: pointer;
	position: relative;
}

.button-four::before {
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	top: -10px;
	left: -10px;
	/*background-color: teal;*/
	border-top: 4px solid darkblue;
	border-left: 4px solid darkblue;
	transition: all 0.25s;
}

.button-four:hover::before,
.button-four:hover::after {
	height: 100%;
	width: 100%;
}

.button-four::after {
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	bottom: -10px;
	right: -10px;
	border-bottom: 4px solid darkblue;
	border-right: 4px solid darkblue;
	transition: all 0.25s;
}
