* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	background-color: #555;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	position: relative;
	width: 800px;
	height: 500px;
	background-color: #222;
}

.clip {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #ccc;
	transition: all 0.5s ease 0s;
}

.clip1 {
	background-image: url(https://images.unsplash.com/photo-1704790024545-d801eb3d3e2e?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDF8RnpvM3p1T0hONnd8fGVufDB8fHx8fA%3D%3D);
	background-size: cover;
	background-position: center;
	clip-path: polygon(0 0, 46% 0, 39% 100%, 0 100%);
}

.clip2 {
	background: url(https://images.unsplash.com/photo-1704539938275-3012f05b9765?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDIwfEZ6bzN6dU9ITjZ3fHxlbnwwfHx8fHw%3D);
	background-size: cover;
	background-position: center;
	clip-path: polygon(19% 0, 87% 0, 64% 100%, 33% 100%);
}

.clip3 {
	background: url(https://images.unsplash.com/photo-1704391943965-45b4cbc9a931?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDExfEZ6bzN6dU9ITjZ3fHxlbnwwfHx8fHw%3D);
	background-position: center;
	background-size: cover;
	clip-path: polygon(82% 0, 100% 0, 100% 100%, 63% 100%);
}

@media (hover: hover) {
	.container:hover .clip {
		clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
	}

	.container .clip:hover {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	}
}
